

@media screen and (max-width: 768px){
    .base{
        background: linear-gradient(to bottom, var(--dark), var(--normal));
        height: 100vh;
        scroll-snap-align: center;
    }
    .hbdTitle{
        padding: 0 5%;
        font-size: 3em;
        font-weight: bold;
        padding-top: 50px;
        text-align: center;
        z-index: 1;
        color: var(--light);
    }
    .giff{
        width: 100vw;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .raizaPhoto{
        margin-left: auto;
        height: 90vh;
        position:absolute;
        top: 0;
        right: 0;
    }
    .sheriyenna{
        display: inline-block;
        position:absolute;
        color: var(--light);
        border: 2px solid var(--light);
        border-radius: 5px;
        padding: 5px 10px;
        top: 700px;
        left: 40px;
    }
}