
:root {
    --light: #b49fcc; 
    --normal: #6d466b;
    --dark: #412234;
  }

@media screen and (max-width: 768px){
    .base{
        background: linear-gradient(to bottom, var(--dark), var(--normal));
        height: 100vh;
    }
    .hbdTitle{
        padding: 0 9vw;
        font-size: 3em;
        font-weight: bold;
        padding-top: 50px;
        text-align: center;
        z-index: 1;
        color: var(--light);
    }
    .giff{
        width: 100vw;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .raizaPhoto{
        margin-left: auto;
        height: 85vh;
        position:absolute;
        top: 0;
        right: 0;
    }
}