
:root {
    --light: #52B788; 
    --normal: #40916C;
    --dark: #1B4332;
  }

@media screen and (max-width: 768px){
    .base{
        background-color: var(--dark);
        height: 100vh;
    }
    .hbdTitle{
        padding: 0 15vw;
        font-size: 3em;
        font-weight: bold;
        padding-top: 50px;
        text-align: center;
        z-index: 1;
        color: var(--light);
    }
    .giff{
        width: 100vw;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .raizaPhoto{
        margin-left: auto;
        height: 100vh;
        position:absolute;
        top: 0;
        right: 0;
    }
}