
:root {
  --light: #ead7d7; 
  --normal: #6d466b;
  --dark: #412234;
}

body{
  margin: 0;
  padding: 0;
}
.animate__slower{
  animation-delay: 6s;
}
.introGiff{
  height: 100vh;
  width: 100vw;
}
html{
  scroll-snap-type: y mandatory;
}
.active{
  background-color: yellow;
}